.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    145deg,
    rgba(255, 248, 245, 1) 0%,
    rgba(255, 243, 249, 1) 10%,
    rgba(239, 231, 255, 1) 27%
  );
  overflow: hidden;
}

.img {
  width: 40vw;
  height: 40vh;
}
