.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 20rem;
  margin: 0;
  margin-top: 1rem;
  position: relative;
}

.input {
  width: 100%;
  height: 2.5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.8rem 0;
  outline: none;
  border: 1px solid rgb(200, 200, 200);
  background-color: transparent;
  text-indent: 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s ease-in-out;
}

.label {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  font-weight: 300;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.6rem;
  margin-left: 0.5rem;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
  border-radius: 1rem;
}

.input:focus ~ .label,
.input:valid ~ .label,
.input:required:not(:focus) ~ .label {
  transform: translateY(-60%) scale(0.9);
  margin: 0rem;
  margin-left: 1.3rem;
  padding: 0 0.2rem;
  background-color: var(--white-color);
}

.input:not(:focus) ~ .empty {
  padding: 0.6rem;
  margin-left: 0.5rem;
  transform: none;
  background-color: transparent;
}

.input:not(.empty):invalid {
  border: 1px solid red;
}

.error {
  font-size: 0.8rem;
  color: red;
  margin-right: auto;
}

@media (max-width: 500px) {
  .inputWrapper {
    width: 15rem;
  }
}

@media (max-width: 370px) {
  .inputWrapper {
    width: 12rem;
  }
}
