.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  width: 50%;
  height: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
}

.open {
  transform: translateY(0);
}

.title {
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--violet-color);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitButton {
  width: 20rem;
  margin: 1rem 0;
}

.submitInput {
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.resetButton {
  margin-left: auto;
}

.select {
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

.googleButton {
  width: 20rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 1px solid var(--violet-color);
  color: var(--violet-color);
}

.googleButton:hover {
  outline: none;
  color: white;
}

.input:focus:not(.empty).valid:valid {
  border: 1px solid green;
}

@media (max-width: 850px) {
  .loginWrapper {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .select {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .select {
    font-size: 0.9rem;
  }
}
