.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 2rem;
  padding: 0 1rem 1rem 1rem;
  background-color: transparent;
}

.editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  width: 50%;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 1px 1px 31px -14px rgb(200, 200, 200);
  transition: all 0.3s ease-in-out;
}

.response {
  width: 50%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
}

.editorWrapper {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  height: 60%;
  overflow-y: auto;
}

.editorWide {
  height: 91%;
}

.editorField {
  width: 100%;
  margin-bottom: 0.5rem;
  overflow-y: auto;
}

.editorButtons {
  width: 3rem;
}

.runButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--violet-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.buttonIcon {
  width: 20px;
  height: 20px;
  transition: all 0.2s ease-in-out;
}

.runButton:hover {
  transform: scale(1.04);
}

.runButton:active {
  transform: scale(1);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(235, 238, 241);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
  border-radius: 20px;
  border: 3px solid var(--purple-color);
}

@media (max-width: 850px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
  }

  .editor {
    width: 95%;
    height: 60%;
    min-height: 40rem;
  }

  .response {
    width: 100%;
    height: 40%;
    min-height: 20rem;
    max-height: 40rem;
    padding-top: 0;
  }

  .editorWrapper {
    height: 28rem;
  }

  .editorWide {
    height: 40rem;
  }
}
