.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  padding-top: 5rem;
  background: linear-gradient(
    145deg,
    rgb(245, 243, 243) 0%,
    rgb(243, 244, 246) 10%,
    rgb(235, 238, 241) 27%
  );
}

.editor {
  width: 50%;
  height: 100%;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 1px 1px 31px -14px rgb(200, 200, 200);
  transition: all 0.3s ease-in-out;
}

.response {
  width: 50%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
}

.editorWrapper {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 70%;

  border-bottom: 1px solid rgb(225, 228, 232);
}

.editorField {
  width: 100%;
  margin-bottom: 0.5rem;
  overflow-y: auto;
}

.editorButtons {
  width: 3rem;
}

.runButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--violet-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.buttonIcon {
  width: 20px;
  height: 20px;
  transition: all 0.2s ease-in-out;
}

.runButton:hover {
  transform: scale(1.04);
}

.runButton:active {
  transform: scale(1);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(235, 238, 241);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
  border-radius: 20px;
  border: 3px solid var(--purple-color);
}

@media (max-width: 850px) {
  .wrapper {
    flex-direction: column;
  }

  .editor {
    width: 95%;
    height: 60%;
  }
  .resronse {
    width: 95%;
    height: 40%;
  }
}
