.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    145deg,
    rgba(255, 248, 245, 1) 0%,
    rgba(255, 243, 249, 1) 10%,
    rgba(239, 231, 255, 1) 27%
  );
  overflow: hidden;
}

.container {
  padding: 3rem;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  gap: 5rem;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  width: 50%;
  height: 80%;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
}

.img {
  max-width: 30rem;
  max-height: 20rem;
  border-radius: 5px;
}

.title {
  font-family: 'Nunito', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--violet-color);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitButton {
  width: 20rem;
  margin: 1rem 0;
}

.submitInput {
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.resetButton {
  margin-left: auto;
}

.select {
  display: flex;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

.googleButton {
  width: 20rem;
  margin-bottom: 1rem;
  background-color: transparent;
  border: 1px solid var(--violet-color);
  color: var(--violet-color);
}

.googleButton:hover {
  outline: none;
  color: white;
}

.input:focus:not(.empty).valid:valid {
  border: 1px solid green;
}

@media (max-width: 850px) {
  .loginWrapper {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .select {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .select {
    font-size: 0.9rem;
  }
}
