.footer {
  height: 3rem;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
  background-color: #e3d4ff;
  color: var(--white-color);
  font-size: 1rem;
}

.github__wrapper {
  display: flex;
  align-items: center;
}

.github__link,
.rs-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.github__name {
  color: var(--white-color);
  transition: all 0.2s ease-in-out;
}

.github__link:hover .github__name {
  color: var(--active-color);
}

.github__link:hover {
  transform: translateY(-0.2rem);
}

.github__logo {
  width: 2rem;
  height: 2rem;
}

.rs__logo {
  width: 5.5rem;
  height: 2rem;
  transition: all 0.2s ease-in-out;
}

.rs__logo:hover {
  transform: translateY(-0.2rem);
}

.footer__year {
  margin: 0;
  user-select: none;
}
