.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    145deg,
    rgba(255, 248, 245, 1) 0%,
    rgba(255, 243, 249, 1) 10%,
    rgba(239, 231, 255, 1) 27%
  );
}

.bgImage {
  position: absolute;
  bottom: 3rem;
  right: 0;
  width: 60%;
}

.info {
  max-width: 45%;
  position: absolute;
  top: 20%;
  left: 8%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about {
  width: 40rem;
}

.rsImage {
  height: 3rem;
}
