@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('../src/assets/fonts/nunito-v25-latin-300.woff2') format('woff2'),
    url('../src/assets/fonts/nunito-v25-latin-300.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/nunito-v25-latin-regular.woff2') format('woff2'),
    url('../src/assets/fonts/nunito-v25-latin-regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/nunito-v25-latin-700.woff2') format('woff2'),
    url('../src/assets/fonts/nunito-v25-latin-700.woff') format('woff');
}

* {
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-color: #48424d;
  --white-color: #ffffff;
  --violet-color: #6957c7;
  --purple-color: #bba9ff;
  --yellow-color: #ffd336;
  --orange-color: #fd8524;
  --lilac-color: #efe7ff;
}

body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--text-color);
}

a {
  margin: 0;
  text-decoration: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
